:root {
  --thumb-height-width: 1.5rem;
  --track-height: 0.7rem;
  --active-radio-color: #48607d;
  --active-checkbox-color: #5f487d;
}

html {
  background-color: #0e0d13;
}

.page-title {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  margin: 1.5rem 2rem;
  margin-bottom: 2rem;
}

.parent-container {
  margin: 0 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  box-sizing: border-box;
  flex: 1 1 auto;
  background-color: #24232b;
  border-radius: 0.4rem;
  height: 550px;
  display: flex;
  padding: 2rem;
  padding-top: 0;
}

.pass-gen-card {
  max-width: 600px;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
}

.pass-hist-card {
  flex-direction: column;
  max-width: 380px;
  min-width: fit-content;
  overflow-y: scroll;
}

#pass-field {
  width: 100%;
  height: 64px;
  background-color: #bde2e2;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pass-output {
  background: transparent;
  border: none;
  width: 100%;
  height: 70%;
  margin: 0 1rem;
}

input[type="text"] {
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  outline: none;
}

.action-btns-container {
  display: flex;
  margin-right: 1rem;
}

.action-btns-container > svg {
  width: 2rem;
  height: 2rem;
}

.action-btn {
  background-color: transparent;
  border: transparent;
  padding: 0.5rem;
  user-select: none;
  cursor: pointer;
  border-radius: 10%;
}

.action-btn:hover {
  background-color: #a5cccc;
}

.action-btn:active {
  transform: translateY(2px);
}

.pass-hist-title {
  white-space: nowrap;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: white;
  align-self: flex-start;
  margin: 0;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.stiky-label {
  background-color: #24232b;
  position: sticky;
  top: 0;
  z-index: 1;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: white;
  align-self: flex-start;
  text-decoration: underline;
  margin: 0;
  margin-bottom: 1rem;
}

.pass-hist-list-container {
  display: flex;
  flex-direction: column;
}

.five-cells-grid {
  display: grid;
  grid-template-columns: 2.25rem repeat(2, 6rem) 3.2rem 2.25rem;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: start;
}

.list-sub-elem {
  width: 5rem;
  white-space: nowrap;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
}

.pass-sub-elem {
  overflow: scroll;
}

.fade {
  opacity: 0.3;
}

.history-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;

  padding: 10px;
  background-size: 20px 20px;
}

.history-coppy-btn {
  background-image: url("./img/copy.svg");
  background-position: left;
  justify-self: flex-start;
}

.history-delete-btn {
  background-image: url("./img/trash.svg");
  background-position: right;
  justify-self: flex-end;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.pass-settings {
  width: 100%;
  margin-top: 1rem;
}

.pass-len-text-container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#char-len-value {
  color: #74e3e3;
}

.char-len {
  font-weight: 450;
  margin-bottom: 1.1rem;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  color: white;
}

/* //////////////////Custom Slider///////////////////// */
/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  /* background: transparent; */
  cursor: pointer;
  width: 100%;
  border-radius: 1rem;
  height: 0.7rem;
}

input[type="range"]:focus {
  outline: none; /* remove default focus */
}

/******** Chrome, Safari, Opera, Edge Chromium styles ********/

/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none; /* Override default look */ /*reapplying for each browser specific elements is necessarily*/
  height: var(--track-height);
  border-radius: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: calc((var(--thumb-height-width) - var(--track-height)) / 2 * -1);
  background-color: #e6e5e9;
  border-radius: 1rem;
  height: var(--thumb-height-width);
  width: var(--thumb-height-width);
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  height: var(--track-height);
  border-radius: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #e6e5e9;
  border: none; /*Removes extra border that FireFox applies*/
  border-radius: 1rem;
  height: var(--thumb-height);
  width: var(--thumb-width);
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #e6e5e9;
  outline-offset: 0.125rem;
}
/* ////////////////////////////////////////////// */

/* ///////////////Custom Radio Button/////////////// */
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  color: white;
  width: 1.15rem;
  height: 1.15rem;
  border: 0.15rem solid white;
  border-radius: 50%;
  transform: translateY(-0.6rem);
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--active-radio-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.settings * {
  display: flex;
  align-items: center;
}

.settings > div:not(:last-child) {
  margin-right: 1.4rem;
}

div label {
  font-weight: 300;
  color: white;
  margin-bottom: 1.1rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin-left: 0.45rem;
  cursor: pointer;
}
/* //////////////////////////////////////////////// */

/* ///////////////Custom Radio Button/////////////// */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  color: white;
  width: 1.15rem;
  height: 1.15rem;
  border: 0.15rem solid white;
  border-radius: 10%;
  transform: translateY(-0.6rem);
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 10%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--active-checkbox-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
/* //////////////////////////////////////////////// */

.pass-settings > .settings:nth-child(3) {
  margin-top: 1.8rem;
}

.settings {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}

.pass-stats {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 0.9rem;
  gap: 1.4rem;
}

.stats-bar {
  box-sizing: border-box;
  width: 100%;
  height: 3.3rem;
  background-color: #83eea8;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.stats-text {
  color: #29373b;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.guide-text {
  margin: 0;
  margin-top: 1.5rem;
  font-family: "Inter", sans-serif;
  font-size: 0.65rem;
  color: white;
  text-align: center;
  width: 100%;
}

.disclaimer {
  margin-top: 1.8rem;
}

/*Tablet - 768px to 991px*/
@media screen and (max-width: 991px) {
  .parent-container {
    flex-direction: column;
  }

  .pass-hist-card {
    width: 100%;
  }
}

/* Smartphone vertical - up to 576px */
@media screen and (max-width: 576px) {
  html {
    zoom: 0.86;
  }
}
